
<div class="col-10 col-sm-6">
  <div class="box px-0 mb-5">
    <%= link_to products_path do %>
    <div class="menu-img">
        <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/product/menu-chicken.jpg" alt="玩飯餐盒" class="img-fluid">
    </div>

    <div class="menu-content text-center">
      <h5 class="menu-title mt-2 mb-1 "> 白玉嫩嫩雞 </h5>
      <p class="mb-1 gray-color"><small> Chicken breast with spices </small></p>
    </div>

    <% end %>
  </div>
</div>


<div class="col-10 col-sm-6">
  <div class="box px-0 mb-5">
    <%= link_to products_path do %>
    <div class="menu-img">
      <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/product/menu-pork.jpg" alt="玩飯餐盒" class="img-fluid">
    </div>

    <div class="menu-content text-center">
      <h5 class="menu-title mt-2 mb-1 "> 白玉嫩嫩雞</h5>
      <p class="mb-1 gray-color"><small> Chicken breast with spices</small></p>
    </div>
    <% end %> 
  </div>
</div>




<div class="col-10 col-sm-6">
  <div class="box px-0 mb-5">
    <%= link_to products_path do %>
    <div class="menu-img">
      <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/product/menu-salmon.jpg" alt="玩飯餐盒" class="img-fluid">
    </div>

    <div class="menu-content text-center">
      <h5 class="menu-title mt-2 mb-1 "> 白玉嫩嫩雞 </h5>
      <p class="mb-1 gray-color"><small> Chicken breast with spices </small></p>
    </div>
    <% end %> 
  </div>
</div>


<div class="col-10 col-sm-6">
  <div class="box px-0 mb-5">
    <%= link_to products_path do %>
    <div class="menu-img">
      <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/product/menu-steak.jpg" alt="玩飯餐盒" class="img-fluid">

    </div>

    <div class="menu-content text-center">
      <h5 class="menu-title mt-2 mb-1 "> 白玉嫩嫩雞 </h5>
      <p class="mb-1 gray-color"><small> Chicken breast with spices </small></p>
    </div>
    <% end %> 
  </div>
</div>


