  <!-- about background -->
  <div class="about_bg top_bg">
    <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/topbanner-2-lg.jpg" alt="玩飯餐盒" class="img-fluid d-none d-md-block">
    <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/topbanner-2-sm.jpg" alt="玩飯餐盒" class="img-fluid d-block d-md-none">
    <div class="overlay"></div>
    <div class="toptitle">
      <div class="quotes-inner">
        <h5 class="font-weight-light mb-1">如果說，有種飲食，少點油，少點負擔...</h5>
      </div>
    </div>
  </div>

<div class="container">  
  <!-- about us -->
  <section id="about_us">
    <h4 class="text-center py-5">“健康與美味不必二選一“</h4>
    <div class="about-content row d-flex px-5 px-md-2 justify-content-center"> 

      <div class="about-content col-md-4 col-12"> 
        <div class="row justify-content-center">   
          <div class="col-md-10 col-6 mb-4">
            <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/about-1.png" alt="玩飯餐盒" class="img-fluid">
          </div>
          <div class="col-md-10 col-6 mb-4 py-3">
            <div class="text-center">
              <h5>食材真實的味道</h5>
              <p class="gray-color">低鈉、低油、無味精，天然無添加，依然風味濃郁，讓我們一起給身體健康純粹的美味。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="about-content col-md-4 col-12"> 
        <div class="row justify-content-center"> 
          <div class="col-md-10 col-6 mb-4">
            <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/about-2.png" alt="玩飯餐盒" class="img-fluid">
          </div>
          <div class="col-md-10 col-6 mb-4 py-3">
            <div class="text-center">
              <h5 >當令五色蔬果</h5>
              <p class="gray-color">依當令時節搭配五色蔬果，青紅黃白黑，提升身體五力！</p>
            </div>
          </div>
        </div>
      </div>

      <div class="about-content col-md-4 col-12"> 
        <div class="row justify-content-center"> 
          <div class="col-md-10 col-6 mb-4">
            <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/about-3.png" alt="玩飯餐盒" class="img-fluid">
          </div>
          <div class="col-md-10 col-6 mb-4 py-3">
            <div class="text-center">
              <h5>低溫烹調 五星美味</h5>
              <p class="gray-color">低溫熟成，確保食材鮮度，保留營養成分，肉汁飽滿、不乾柴！</p>
            </div>
          </div>
        </div>
      </div>
  </section>

  
</div> 
  <!-- about quote -->
  <section id="about-quote">
  <div class="menu-quote mb-5">
    <div class="quote-bg">
      <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/topbanner-6-lg.jpg" alt="玩飯餐盒" class="img-fluid d-none d-md-block">
      <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/topbanner-6-sm.jpg" alt="玩飯餐盒" class="img-fluid d-block d-md-none">
      <div class="overlay"></div>
      <div class="quotes">
        <div class="quotes-inner">
          <h5 class="font-weight-light">Bon appetit</h5>
          <p class="font-weight-light">享受美食，不需要理由</p>
        </div>
      </div>
    </div>
  </div>
  </section>



  <!-- about col-->
<div class="container">
  <div class="about-col row d-flex mb-5">
    <div class="about-col-item col align-self-center  text-center">
      <h5>職人手作餐盒</h5>
      <p class="gray-color">我們只給你天天都想吃的健康美食！</p>
      <div><%= link_to'MENU', products_path, class: "btn-mb-w mx-4 px-4 er-link" %></div>
    </div>
    <div class="about-col-item col p-1">
      <img src="  https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/about-4.jpg" alt="會議餐盒" class="img-fluid">    
    </div>
  </div>
</div>


  <!-- about-footer -->
  <div class="gray-bg mb-5">
    <div class="container">
      <h5 class="text-center">商務餐盒，會議便當</h5>
      <p class="gray-color">如果說，有種飲食，少點油，少點負擔，依然美味...<br>
         如果說，有種餐盒，跟下午茶一樣美好卻不用擔心熱量太高...<br>
         如果說，健康不再與沒味道劃上等號...<br><br>
         舌頭是獲得幸福的最短距離，我們用一顆真誠的心創造沒有負擔的天然料理。不想被社會潮流推著走，想呈現最單純的原味，傳遞真實、健康的飲食概念。<br>
         『用心傾聽身體的需求，選擇身體需要的食物』，只想給你真的食物。玩飯餐盒低鈉、低油、天然、無不必要的人工添加物，依然風味濃郁，讓我們給予身體一個健康純粹的美味。</p>
    </div>
  </div>
