  <div class="about_bg top_bg">
    <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/topbanner-4-lg.jpg" alt="玩飯餐盒" class="img-fluid d-none d-md-block">
    <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/topbanner-4-lg.jpg" alt="玩飯餐盒" class="img-fluid d-block d-md-none">
    <div class="overlay"></div>
    <div class="toptitle-c">
      <div class="quotes-inner">
        <h3 class="mb-1">location</h3>
      </div>
    </div>
  </div>

  <div class="container">

  <div class="row contact-toptitle mt-5">
    <ol class="contact-title col-12 d-flex justify-content-center pr-md-3 pr-0">
      <li class="front-title">外送範圍</li>
      <li><%= link_to '聯絡我們', contacts_path, class:"gray-text" %></li>
    </ol>
  </div>

  <div class="delivery-img">
    <a href="https://goo.gl/maps/C2j1obBZVfL2" target="_blank"><img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/delivery.jpg" alt="外送範圍" class="img-fluid"></a>
  </div>

  <div class="point my-4 py-2">
    <ul>
      <li>為保持餐點品質，餐盒配送範圍如圖</li>
      <li>板橋區、新莊區訂購五個起免運</li>
      <li>台北市3500元起即可外送</li>
      <li>外送範圍外，如有大量訂購會議餐盒、商務餐盒請於LINE詢問</li>
      <li>訂購1~4僅提供自取，請自備環保袋取餐，未攜帶者售紙袋$5元/個</li>
      <li>自取地址：<a href="https://goo.gl/maps/C2j1obBZVfL2" target="_blank">新北市新莊區中正路366號1F</a>（工作室不對外開放）</li>
    </ul>
  </div>

  <div class="d-flex justify-content-center btn-group mt-4 py-2">
    <div><%= link_to '訂購Q&A', home_questions_path, class:"btn-mb-w mx-4 px-4 er-link" %></div>
    <div><%= link_to '商務餐盒', products_path, class:"btn-mb-w mx-4 px-4 er-link" %></div>
  </div>

  </div>
