  <div class="about_bg top_bg">
    <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/topbanner-4-lg.jpg" alt="玩飯餐盒" class="img-fluid d-none d-md-block">
    <img src="https://s3-ap-northeast-1.amazonaws.com/www.enjoyrice.com/banner/topbanner-4-lg.jpg" alt="玩飯餐盒" class="img-fluid d-block d-md-none">
    <div class="overlay"></div>
    <div class="toptitle-c">
      <div class="quotes-inner">
        <h3 class="mb-1">Q&amp;A</h3>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row contact-toptitle mt-5">
    <ol class="contact-title col-12 d-flex justify-content-center pr-md-3 pr-0">
      <li class="front-title"><%= link_to '外送範圍', home_delivery_path, class:"gray-text" %></li>
      <li class="front-title">訂購Q&amp;A</li>
      <li><%= link_to '聯絡我們', contacts_path, class: "gray-text" %></li>
    </ol>
  </div>

  <div class="questions m-3">
    <div class="q-bar bg-dark">常見訂購問題Q&amp;A</div>
    <div class="q-content mt-3">
      <p >Q:請問店面在哪裡？</p>
      <p >A:我們是工作室，目前尚未對外開放，餐點均須提前預約。</p>
    </div>
    <div class="q-content">
      <p >Q:請問可以外送嗎？</p>
      <p >A:我們提供自取及外送服務，板橋、新莊五個即可免費外送，台北市3500元起即可免費外送，其餘請於:Line詢問客服(ID:@quo1137i)。</p>
    </div>
    <div class="q-content">
      <p>Q:請問如何訂餐？</p>
      <p>A:目前開放Line(ID:@quo1137i)及電話預訂(0900-079620)。</p>
    </div>
    <div class="q-content">
      <p>Q:請問可以當日訂餐嗎？</p>
      <p>A:因餐點備置時間較長，部分蔬果當日新鮮採買，建議提前1-3天預訂。</p>
    </div>
    <div class="q-content">
      <p>Q:大量訂購需要多久前預訂？</p>
      <p>A:需求大量、茶會外燴、活動餐盒請提前3-5日以上詢問檔期及合作方式。</p>
    </div>
    <div class="q-content">
      <p >Q:請問晚餐有營業嗎？</p>
      <p >A:目前僅提供午餐，晚餐餐盒大量訂購請於Line詢問客服(ID:@quo1137i)。</p>
    </div>
    <div class="q-content">
      <p>Q:請問週末可以訂購嗎？</p>
      <p>A:目前營業時間為週一～週五午餐時段，活動、會議餐盒假日滿3500以上可彈性調整，須事先於Line詢問客服(ID:@quo1137i)。</p>
    </div>
    <div class="q-content">
      <p>Q:請問可以打統編嗎？</p>
      <p>A:我們有提供三聯式統一發票</p>
    </div>
  </div>

  <div class="d-flex justify-content-center btn-group mt-5">
    <a href="https://line.me/R/ti/p/%40kuo1137i" class= "text-center btn-mb-w mx-4 px-4 er-link" target="_blank">線上預訂</a>
    <div><%= link_to'外送範圍', home_delivery_path, class:"btn-mb-w mx-4 px-4 er-link" %></div>
  </div>
</div>