<div class="footer container-fluid  bg-dark">
  <div class="container">
    <div class="footer-content pt-3">
      <div class="footer-icon">
        <div onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-circle-up fa-2x"></i></div>
        
      </div>

      <!-- mobile -->
      <div class="footer-info d-block d-sm-none ">
        <div class="footer-col text-center">
          <p>LINE訂餐：@quo1137i</p> 
          <p>外送專線：0900-792620</p>
          <p>營業時間：週一～週五 09:30-17:00</p>
          <p>自取地址：新北市新莊區中正路366號(工作室不對外開放)</p>
        </div>
      </div>
      
      <!-- desktop -->
      <div class="d-none d-sm-block mb-2">
        <div class="row footer-info d-inline-flex  bd-highlight px-4 mr-4">
          <div class="footer-col bd-highlight mr-4">
            <p>SERVICE</p>
            <p>LINE訂餐：@quo1137i</p> 
            <p>外送專線：0900-792620</p>
          </div>
          <div class="footer-col bd-highlight">
            <p>ABOUT</p>
            <p>營業時間：週一～週五 09:30-17:00</p>
            <p>自取地址：<a href="https://goo.gl/maps/C2j1obBZVfL2" target="_blank">新北市新莊區中正路366號1F</a>(工作室不對外開放)</p>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="footer-social-icon text-center mb-2">
      <a href="https://www.facebook.com/enjoyrice/" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
      <a href="https://www.instagram.com/enjoyrice.tw/" target="_blank"><i class="fab fa-line fa-2x"></i></a>
      <a href="https://line.me/R/ti/p/%40kuo1137i" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
    </div>
  </div>
    
    <div class="copyright text-center ">
      <p><small>&copy;2018 EnjoyRice玩飯職人 版權所有 | website design by mspink</small></p>
    </div> 
</div>
